* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #26282a;
  color: #fff;
}

.page-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #26282a;
  color: white;
}

.wrapper {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.logo img {
  height: 60px;
  width: 80px;
}
.logo img:hover {
  rotate: -400deg;
}

nav .togglebtn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}

nav .togglebtn span {
  display: block;
  background-color: white;
  margin: 5px 0px;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}
nav .navlinks {
  list-style-type: none;
}
nav .navlinks li {
  display: inline-block;
  font-size: 20px;
  margin-right: 2rem;
}
nav .navlinks li a {
  color: rgb(41, 222, 186);
}
nav .navlinks li:hover {
  transform: scale(0.8);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
}

.container .profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #444;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}
.profile-pic img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.profile-pic img:hover {
  transform: scale(1.2);
}
.detailsBtn {
  color: #034a1d;
  cursor: pointer;
}
.intro-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.profile-name {
  color: white;
  font-size: 2.1rem;
  padding-bottom: 10px;
}
.bio {
  color: white;
  font-size: 20px;
}
.my-modal {
  display: none;
  z-index: 1;
  overflow: auto;
  background-color: #413f3f;
  top: 50%;
  left: 50%;
  position: fixed;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.short-description {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-group {
  margin: 45px 0;
}
.btn-group .btn,
.contact #submit {
  color: #f5f2f2;
  background-color: #066357;
  padding: 12px 25px;
  margin: 5px 0;
  margin-right: 7px;
  border-radius: 30px;
  font-family: a;
}

#textMessage,
#email {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  margin: 8px;
  text-align: left;
}

.contact .intro,
.work {
  text-align: center;
  font-size: 25px;
}

.contact .social-media {
  text-align: center;
}
.btn-group .btn:hover {
  opacity: 0.5;
}

.social-media i,
.contact .social-media i {
  color: rgb(203, 198, 196);
  font-size: 30px;
  margin-right: 10px;
}
.social-media i:hover,
.social-media i:hover {
  transform: scale(1.2);
}

.btn.active {
  border-color: rgb(194, 194, 200);
}

@media (max-width: 930px) {
  nav .togglebtn {
    display: initial;
  }
  .clicked {
    top: 45px;
  }
  .clicked span {
    position: absolute;
    margin-top: 12px;
  }
  .clicked span:first-child {
    transform: rotate(-40deg);
  }

  .clicked span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }

  .clicked span:last-child {
    transform: rotate(45deg);
    top: 0;
  }

  nav .navlinks {
    position: absolute;
    top: 110px;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 100vh;
    background-color: #26282a;
    z-index: 3;
    transition: 0.5s;
    padding: 0.5s;
    display: none;
  }

  nav .navlinks li {
    display: block;
  }

  .navlinks li a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
  nav .navlinks .open {
    right: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 2rem;
  }
  .intro-text {
    padding: 40px 0px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 10px;
}
.grid__item {
  background-color: rgb(193, 196, 195);
  padding: 10px;
  font-size: 19px;
  letter-spacing: 0.3px;
  text-align: center;
}

.grid__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.grid__item p {
  color: rgb(14, 15, 14);
  font-size: 18px;
}

.grid__item a {
  text-align: left;
  color: #2596e6;
  font-size: 18px;
}

.animateText {
  font-size: 24px;
  margin: 10px;
}
