    /*
    colors used
    backround color: #C2C4CD;
    */
    body {
        background-color:#C2C4CD;
    color:#0a0909; 
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
    }

    .page-header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px;
    background-color: #2b2b2b; ;
    }

    .page-header-logo{
        height: 60px;
        width: auto;
    }
    
    .navigation-list li{
        display:inline;
        text-align: right;
    }
    
    header.page-header a{
        margin-right: 10px;
        color: #50B4F5;
    }


    header.page-header a:hover,
    header.page-header a:focus
    {
    text-decoration: none;
    }

    #profile-img {
        display: block;
        margin-right: auto;
        margin-left:auto; 
        margin-top: auto;
        margin-bottom:auto;
        width: 230px;
        height: 230px;
        border-radius: 50%;
    }

    .intro{
        text-align: center;
        font-size: 23px;
    }
    .short-description{
        font-size: 19px;
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
    }

    .about-intro{
        text-align:center;
        font-size: 19px;
        margin: 20px;
    }
    .mylink{
    padding-top: 120px;
        text-align: center;
    }

    .contact {
        text-align: center;
    }

    label{
        font-size: 20px;
        color:undefined;
    }

    a:hover,
    a:focus{
        cursor: pointer;
    text-decoration: none;
    }

    a:visited{
        cursor: pointer;
        border-radius:var (--radiusSize);
    }

    #textMessage{
    width: 60%;
    padding: 10px;
    }

    #email{
    width: 60%;
    padding: 10px;
    }

    .basicLabel {
        display: inline;
        font-size: smaller;
    }

    .cv-btn{
        text-align: center;
        background-color: #2b2b2b;
        color:#50B4F5; 
        margin: 10px;
        border-radius:  8px;
        padding:8px;
    }

    button{
        text-align: center;
        background-color: #2b2b2b;
        color:#50B4F5; 
        margin: 10px;
        border-radius:  8px;
        padding:8px;
    }

    #submit{
        text-align: center;
        background-color: #2b2b2b;
        color:#50B4F5; 
        margin: 10px;
        border-radius:  8px;
        padding:8px;
    }

    .cv-btn:hover{
        color: #2b2b2b;
        background-color:#50B4F5;
        cursor:pointer;
    }

    #submit:hover{
        color: #2b2b2b;
        background-color:#50B4F5;
        cursor:pointer;
    }
    .page-footer{
        position:relative;
        width: 100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    *{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .grid{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 10px;
        margin: 10px; 
        padding:20px;
    }
    
    .grid__item{
        border-color:#142638;
        border-style: solid;
        padding: 10px;
        font-size: 20px;
    
    }
    @-webkit-keyframes plane-move{
        from{
            -webkit-transform: translate(460px,500px);
                    transform: translate(460px,500px);
        
        }
        to{
            -webkit-transform: translate(1000px,100px);
                    transform: translate(1000px,100px);
        }
    }
    @keyframes plane-move{
        from{
            -webkit-transform: translate(460px,500px);
                    transform: translate(460px,500px);
        
        }
        to{
            -webkit-transform: translate(1000px,100px);
                    transform: translate(1000px,100px);
        }
    }
    .plane{
        -webkit-animation-direction:normal;
                animation-direction:normal;
        -webkit-animation-duration: 6s;
                animation-duration: 6s;
        -webkit-animation-name: plane-move;
                animation-name: plane-move;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-timing-function:linear;
                animation-timing-function:linear;
        width:auto;
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
        .grid {
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
        }
        @-webkit-keyframes plane-move{
            from{
                -webkit-transform: translate(100px,200px);
                        transform: translate(100px,200px);
            
            }
            to{
                -webkit-transform: translate(200px,50px);
                        transform: translate(200px,50px);
            }
        }
        @keyframes plane-move{
            from{
                -webkit-transform: translate(100px,200px);
                        transform: translate(100px,200px);
            
            }
            to{
                -webkit-transform: translate(200px,50px);
                        transform: translate(200px,50px);
            }
        }
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        .grid {
            -ms-grid-columns: 1fr 10px 1fr;
            grid-template-columns: 1fr 1fr;
        }
        .bodyintro {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        @-webkit-keyframes plane-move{
            from{
                -webkit-transform: translate(150px,200px);
                        transform: translate(150px,200px);
            
            }
            to{
                -webkit-transform: translate(200px,100px);
                        transform: translate(200px,100px);
            }
        }
        @keyframes plane-move{
            from{
                -webkit-transform: translate(150px,200px);
                        transform: translate(150px,200px);
            
            }
            to{
                -webkit-transform: translate(200px,100px);
                        transform: translate(200px,100px);
            }
        }
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .grid {
            -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
    
        @-webkit-keyframes plane-move{
            from{
                -webkit-transform: translate(250px,300px);
                        transform: translate(250px,300px);
            
            }
            to{
                -webkit-transform: translate(400px,100px);
                        transform: translate(400px,100px);
            }
        }
    
        @keyframes plane-move{
            from{
                -webkit-transform: translate(250px,300px);
                        transform: translate(250px,300px);
            
            }
            to{
                -webkit-transform: translate(400px,100px);
                        transform: translate(400px,100px);
            }
        }
    }
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
        @-webkit-keyframes plane-move{
            from{
                -webkit-transform: translate(250px,300px);
                        transform: translate(250px,300px);
            
            }
            to{
                -webkit-transform: translate(400px,100px);
                        transform: translate(400px,100px);
            }
        }
        @keyframes plane-move{
            from{
                -webkit-transform: translate(250px,300px);
                        transform: translate(250px,300px);
            
            }
            to{
                -webkit-transform: translate(400px,100px);
                        transform: translate(400px,100px);
            }
        }
      
    }
    @media all and (min-width: 1201px) {
        .grid {
            grid-gap: 10px;
        }
        .grid {
            grid-gap: 10px;
        }
        .grid__item:last-child {
            grid-column: auto / auto;
            grid-row: auto / auto;
        }
        intro{
            font-size: 24px;
        }
    }
    
    .home-town-img{
        margin-top: 20px;
        width: 100%;
        height:  60%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }