    /*
    colors used
    backround color: #abb8c3;
    */
    :root{
        --lightGray :#C2C4CD;
        --darkNavyBlue:#142638;
        --skyBlue:#50B4F5;
        --darkBlack:#090909;
        --lightBlue:#00CED1;
        --white:#e8e5e5;
        --topAppBar:#6C7593;
        --marginSize:20px;
        --heightPercentage:60%;
        --widthPercentage:100%;
        --marginPercentage:30%;
        --widthHeight:230px;
        --forCircleShape:50%;
        --gapSize:10px;
        --fontSize:19px;
        --radiusSize:8px;
        --headerLink:#fffefe;
        --link:#6812C3
    }
    body {
        background-color: var(--lightGray);
    color:var(--darkNavyBlue); 
        font-family: 'Roboto', sans-serif;
        font-size: var(--fontSize);
    }

    .page-header{
        display: flex;
        width:100%;
        height:300px;
        justify-content:space-between;
        padding: var(--gapSize);
        background-color: var(--topAppBar);
    }

    .page-header-logo{
        height:100px;
        margin-left: -18px;
        margin-top: -10px;
        width: auto;
    }
    
    .navigation-list li{
        display:inline;
        text-align: right;
    }
    
    header.page-header a{
        margin-right: var(--gapSize);
       color:var(--headerLink);
       text-decoration: none;
    }
    header.page-header a:hover,
    header.page-header a:focus
    {
    opacity: 0.5;
    }

    #profile-img {
        display: block;
        margin-top: -150px;
        margin-right: auto;
        margin-left:auto; 
        width: var(--widthHeight);
        border-radius: var(--forCircleShape);
    }

    .intro{
        text-align: center;
        font-size: 23px;
        margin-top: -80px;
    }
    .intro-home{
        text-align: center;
        font-size: 23px;
    }
    .short-description{
        font-size: var(--fontSize);
        text-align: center;
        margin-left: var(--marginPercentage);
        margin-right: var(--marginPercentage);
    }

    .about-intro{
        text-align:center;
        font-size: var(--fontSize);
        margin: var(--marginSize);
        margin-top: 40px;
    }

    .mylink{
    padding-top: 120px;
        text-align: center;
    }

    .contact {
        text-align: center;
    }

    label{
        font-size: var(--marginSize);
        color:var(darkBlack);
    }

    a{
        color:var(--link);
    }
    a:hover,
    a:focus{
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    }

    a:visited{
        cursor: pointer;
        border-radius:var (--radiusSize);
    }

    #textMessage, #email{
    width: var(--heightPercentage);
    padding: var(--gapSize);
    }

    .basicLabel {
        display: inline;
        font-size: smaller;
    }

    #submit{
        text-align: center;
        margin: var(--gapSize);
        color:white;
    background-color:#6C7593;
        border-radius:  var(--radiusSize);
        padding:var(--radiusSize);
    }

  #submit:hover{
        cursor:pointer;
        opacity: 0.8;
    }
    .page-footer{
        position:relative;
        width: var(--widthPercentage);
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    *{
        box-sizing: border-box;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: var(--gapSize);
        margin: var(--gapSize); 
        padding:var(--marginSize);
    }
    
    .grid__item{
        border-color:var( --topAppBar) ;
        padding: 10px;
        font-size: 19px;
        letter-spacing: 0.3px;
    }
    @keyframes plane-move{
        from{
            transform: translate(460px,500px);
        
        }
        to{
            transform: translate(1000px,100px);
        }
    }
    .plane{
        animation-direction:normal;
        animation-duration: 6s;
        animation-name: plane-move;
        animation-iteration-count: infinite;
        animation-timing-function:linear;
        width:auto;
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
        .grid {
            grid-template-columns: 1fr;
        }
        @keyframes plane-move{
            from{
                transform: translate(100px,200px);
            
            }
            to{
                transform: translate(200px,50px);
            }
        }
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
        .bodyintro {
            flex-direction: column;
        }
        @keyframes plane-move{
            from{
                transform: translate(150px,200px);
            
            }
            to{
                transform: translate(200px,100px);
            }
        }
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    
        @keyframes plane-move{
            from{
                transform: translate(250px,300px);
            
            }
            to{
                transform: translate(400px,100px);
            }
        }
    }
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
        @keyframes plane-move{
            from{
                transform: translate(250px,300px);
            
            }
            to{
                transform: translate(400px,100px);
            }
        }
      
    }
    @media all and (min-width: 1201px) {
        .grid {
            grid-gap: var(--gapSize);
        }
        .grid {
            grid-gap: var(--gapSize);
        }
        .grid__item:last-child {
            grid-column: auto / auto;
            grid-row: auto / auto;
        }
        intro{
            font-size: 24px;
        }
    }
    
    .home-town-img{
        margin-top: var(--marginSize);
        width: var(--widthPercentage);
        height:  var(--heightPercentage);
        justify-content: center;
    }

  
